:root, ::backdrop {
	--font-color: black;
}

html {
	font-family: "Iosevka", "Source Code Pro", "Fira Code", "Roboto Mono", monospace;
	/*scroll-behaviour: smooth;*/
}

body {
	color: var(--font-color);
	background-color: lightblue;
	font-size: 14px;
	margin: 0;
}

#wrapper {
	height: 100vh;
	max-width: 100vw;
	overflow: hidden
}

#header, #main, #listings {
	max-width:100vw;
}

#header, #main {
	width: 70ch;
	max-width: 100vw;
}

#header {
	height: 2.5em;
}

h1 {
	font-size: 16px;
	float: left;
	padding: 0em 2ch;
}

#nav {
	float: right;
	overflow: auto;
	vertical-align: sub;
	padding: 0.5em 2ch 0 2ch;
}

a, a:visited {
	color: var(--font-color);
	text-decoration: none;
	padding: 0 1ch;
}

a:hover {
	text-decoration: underline;
}

#main {
	position: relative;
	height: 50vmax;
	max-height: calc(100% - 4em);
	float: left;
	clear: both;
	padding: 0 0 1em 0;
}

#text, #mousey {
	height: calc(100% - 2em);
}

#text {
	float:left;
	width: 50%;
	max-width: 50vw;
	clear: both;
	border: 1px solid red;
}

textarea {
	height: 100%;
	width: 100%;
	color: yellow;
	overflow: scroll;
	background-color: dimgray;
	border-radius: 0.5em;
}

#mousey {
	float: right;
	width: 45%;
	max-width: 45vw;
	border: 1px solid grey;
}

#info, #telem {
	position: absolute;
	width: 100%;
}

#info {
	max-width: 45%;
	bottom: 2em;
	padding: 1em 0;
	border: 1px solid gray;
}

#telem {
	bottom: 0;
	height: 1em;
	margin: 1em;
	padding: 0 1ch;
}

span, button {
	margin-right: 1ch;
}

button {
	color: green;
	background-color: lightgrey;
	border-radius: 0.35em;
}

#listings {
	min-width: 60vmin;
	overflow: auto;
	min-height: calc(50% - 6em);
	padding: 1em;
	border: 1px solid gray;
	overflow: scroll;
}
